[2017-09-27 07:56] icebob opened #2 "Show service name in `events` list"
![image](https://user-images.githubusercontent.com/306521/30902056-3cbdec4a-a36a-11e7-8d12-c58e67fb400f.png)

[2017-12-21 12:36] mailaneel opened #3 "Passing array for params does not work"
Using below
`call users.get --userIds "a1234" --userIds 'a5678' `

sends
`{ userIds: { '0': "a1234", '1': "a5678" } }`

Once I change
https://github.com/ice-services/moleculer-repl/blob/9769af1f9da8f47369b5c0cd498201b522bcdfdd/src/index.js#L35 to have below code it

above to this
[code]

sends
`{ userIds: ["a1234", "a5678" ] }`

[2017-12-21 15:27] icebob commented on #3
Great. Could you create a PR with the fix?

[2017-12-21 21:27] mailaneel commented on #3
sure

[2017-12-21 21:42] mailaneel commented on #3
PR created
https://github.com/ice-services/moleculer-repl/pull/4

[2017-12-22 07:39] icebob commented on #3
Thanks!, I merged

[2018-01-03 09:41] zhaoyao91 opened #5 "Support passing params as JSON object"
This package use vorpal options as action params. However, the expression ability of vorpal options is not enough. For example, I can't pass in array of objects.

How about support call with json? for example:

[code]

[2018-01-03 21:27] #3 closed

[2018-01-03 21:44] icebob commented on #5
I don't want to duplicate the `call` command code. I would rather add a `-j`, `--json` option to `call` and `dcall` commands. In this case, it will parse the params as a JSON string.

[2018-01-03 22:09] icebob commented on #5
Example:
[code]

[2018-01-04 00:52] zhaoyao91 commented on #5
well, that is fine. look forward to it :)

[2018-01-04 10:05] icebob commented on #5
I changed the implementation. No need `--json` option.
New logic:
[code]

Released in v0.3.2

[2018-01-04 10:05] #5 closed

[2018-01-18 15:47] icebob opened #9 "Measure call execution time"
Measure the `call` & `dcall` execution time.

[2018-01-18 15:49] icebob opened #10 "Benchmark function"
Benchmark an action call.

[code]
Prints the req/sec & avg req time.

[2018-01-19 02:49] zhaoyao91 opened #11 "Bug: repl exits when validation error occurs."
When I call an action with validation error, the repl will exit.

[2018-02-27 12:34] #10 closed

[2018-02-27 12:35] #2 closed

[2018-02-27 12:36] icebob commented on #11
Could you show console messages?

[2018-02-27 14:30] #9 closed

[2018-04-12 17:19] chrvadala opened #12 "is there a way to subscribe an event?"

[2018-04-12 20:47] icebob commented on #12
No, because you can subscribe only from service.

[2018-04-12 20:50] #11 closed

[2018-04-12 21:16] chrvadala commented on #12
I see, it should be an interesting feature for debugging.

[2018-07-13 17:32] julianfrank opened #14 "vulnerability in lodash version used by repl"
getting this on 'npm audit'
[code]

[2018-07-13 19:57] icebob commented on #14
Thanks, but at first inquirer & vorpal should update.

[2018-07-25 17:36] #14 closed

[2018-09-28 16:16] GHNewbiee opened #18 "Running a batch of calls from a file."
Hi,

This is a feature request. It would help in development and debugging phase.

Tia

[2018-09-28 16:40] GHNewbiee opened #19 "Fast "clear" screen."
Hi,

The only way to clear the REPL screen is to quit and return. Isn't it?

If yes, I think a command "cls" is required.

Tia

[2018-10-30 20:07] kevmt opened #20 "Bug: `call` command tabbing after stopping a node crashes repl."
**Description**

Loaded node has its own set of actions, after stop a node and issuing a repl command `call <tab>` crashes repl. `broker.registry.getActionList` still shows actions but not available.. Connected through `repl` or `moleculer connect`

**Expected**

Should not throw error but instead, not to show commands and should not process commands that are flag as not available or an `this.acti

[2018-11-21 19:49] #20 closed

[2018-11-21 19:57] icebob commented on #18
you can implement it yourself with custom commands.

[2018-11-21 19:57] #18 closed

[2018-11-22 14:16] kevmt commented on #20
@icebob Thanks!

[2018-11-22 14:46] icebob commented on #20
Could you test it? It' didn't work autocomplete for me, so it was a blind fixing :)

[2018-11-22 15:15] kevmt commented on #20
@icebob yup it is fixed, tested before updating vs updated tabbing from a `actions -a` which are actions marked FAILED did not autocomplete.

[2018-11-22 15:19] icebob commented on #20
Great, thanks!

[2018-12-07 10:56] kevyworks opened #22 "Possible Input from repl command/service call?"
Hi @icebob,

I wish to know if it is possible to interact with a system process requesting an input like executing a script that requires sudo password. This is both for like a critical admin only services and repl commands.

[2018-12-07 20:45] icebob commented on #22
I don't understand. Could you explain?

[2018-12-08 04:33] kevmt commented on #22
Hi @icebob, well the idea was for a service which is only for repl and to prompt the admin user. like a param that asks input instead of `call sysctl.chpwd --old "123" --pwd "456"` to just `call sysctl.chpwd` pseudo:

[code]

[code]

Can be just a replCommands but I think It would be easy if it is a service so `moleculer connect` have the ability to interact with it.

But, For now ill play with re

[2018-12-17 09:08] HASSANDL opened #23 "The moleculer-repl package is missing"
The 'moleculer-repl' package is missing but this package is installed.

[2019-01-10 05:46] duongdev opened #24 "Add `rs` command to force restart a specific service or all of them"
Currently, my services have multiple files splitted (`*.actions.js`, `*.methods.js`, ...). When I update these files (not the `*.service.js` file), the service broker doesn't restart the updated service. I have to send `q` command to the repl then `yarn dev` again. Could we support the `rs` command to force restart a specific service/all services or support hot-reload for service's imported files?

[2019-01-31 14:07] darky opened #25 "Ability to pass `meta` when call action"
For example:

[code]

[2019-02-04 18:38] #25 closed

[2019-03-05 09:49] poduvalmanu3 opened #27 "json response to frontend"
is there any way to send data as json response to the frontend instead of the frontend just reading from the databse?

[2019-03-05 11:02] poduvalmanu3 commented on #27
like in express we use res.send or res.json is there anything similar to that or do we have to do it using CRUD operations

[2019-03-05 17:11] icebob commented on #27
I don't understand, could you explain it? By the way, is it a relevant question for REPL?

[2019-03-06 03:24] #27 closed

[2019-05-10 21:05] nbvehbq opened #30 "[question] Why stream content in REPL mode passed as string?"
https://github.com/moleculerjs/moleculer-repl/blob/4462eaa68a02b2cf7dc536cb29f857e898f39724/src/commands/call.js#L65

In my opinion, when you transfer a file through stream it content must be Buffer not String...
The second parameter may be just a typo?

[2019-05-11 07:20] icebob commented on #30
Yes, it's true. Could you send a PR?

[2019-05-11 17:29] #30 closed

[2019-06-11 22:43] ngraef opened #32 "Ability to pass meta when benchmarking action call"
Similar to #25, but for the `bench` command.

[code]

[2019-08-14 18:19] #32 closed

[2019-10-03 14:34] davidnussio commented on #22
Action callback receive as third parameter helpers object and it has vorpal reference.
I am tried to use prompt from vorpal, I copied the prompt example from vorpal.js.org but it does not work. I think because the this context is not the vorpal expected context.
I didn't investigate, I installed inquirer separately

[code]

[2019-10-22 19:19] xeroxstar opened #37 "None of the commands work"
How the commands are working? I tried everything :
`mol $ nodes -all Invalid Command`
`mol $ nodes -a Invalid Command`
`mol $ nodes[-all] Invalid Command`
`mol $ nodes[-a] Invalid Command`
`mol $ nodes(-a) Invalid Command`
`mol $ nodes(--all) Invalid Command`

[2019-10-22 19:37] AndreMaz commented on #37
All good over here
![cnxWM775qw](https://user-images.githubusercontent.com/9802754/67324390-ac8edd00-f50b-11e9-92df-6e11be50233a.gif)

[2019-10-22 19:40] xeroxstar commented on #37
Thanks for the quick reply, see what i get[](https://ibb.co/sydMzqq)

[2019-10-22 19:45] AndreMaz commented on #37
Strange. This is what I get when I'm running `nodes --all`

![image](https://user-images.githubusercontent.com/9802754/67325218-b9600080-f50c-11e9-8d3e-24d26691cc74.png)

Are you using `moleculer-runner` to start the services?

[2019-10-22 19:50] xeroxstar commented on #37
No, i am using a basic example  [from this location](https://github.com/moleculerjs/moleculer/blob/master/examples/simple/index.js)

Should i start with moleculer-runner to make it work?

[2019-10-22 20:08] AndreMaz commented on #37
Hey. No there is no to use `moleculer-runner`. I just tried to narrow down the source of the problem.
Again, the example that you've showed works properly here
![9TRYprmnhw](https://user-images.githubusercontent.com/9802754/67327526-fc6fa300-f50f-11e9-9fc2-ff58b446e8a1.gif)

[2019-10-22 20:12] xeroxstar commented on #37
I see, let me work on it and i will be back with more details... i need to run some tests and debug my application, maybe something wrong on my side.

[2019-10-22 21:49] xeroxstar commented on #37
I found the bug and it's on my end, i am using a lodash in the global scope  `global._` (i am running my own mixin with lodash), once i removed it from the global scope, Voilà !!! it's Alive again  ...

[2019-10-22 21:49] #37 closed

[2019-12-12 17:45] intech opened #39 "Filter match by version"
When a project has many services of different versions, then need the ability to filter by version. Now it does not work :(

Examples:
[code]

[2019-12-12 17:47] icebob commented on #39
`actions -f v1.**`

[2019-12-12 17:48] intech commented on #39
@icebob It seemed to me that I tried it too, but now it works :)

[2019-12-12 17:50] intech commented on #39
@icebob This does not work with services!

[2019-12-12 17:51] icebob commented on #39
Yes, it's true because if checks the service name without version instead of service fullName.

[2019-12-12 17:52] intech commented on #39
With actions, a workaround, but not very convenient.

[2019-12-13 09:41] #39 closed

[2019-12-15 11:33] icebob commented on #39
Released

[2020-01-27 00:20] abdavid opened #41 "Unable to pass meta-data when using --load option"
https://github.com/moleculerjs/moleculer-repl/blob/e78ee19f831fdd85fc8e6783534db4e3f80c2cb7/src/commands/call.js#L127

I also tried adding meta to the params file, and looking at the code for the call command, it does not look like meta is supported when loading params from file.

[2020-02-15 20:50] alexeymarunin opened #42 ""Endless" custom command"
Hi

I found a little bug for custom command if it returns non-Promise value

[code]

According [Vorpal documentation](https://github.com/dthree/vorpal/wiki/api-%7C-vorpal.command#commandactionfunction), command's action should call `done()` in the end or return `Promise`.

PS May be this bug relates with #22

[2020-02-16 08:23] #42 closed

[2020-04-09 09:24] icebob commented on #41
I've just released 0.6.4 which supports defining meta keys with `#`.

E.g:
[code]
The `user: "John"` will be placed into the `ctx.meta`.

[2020-04-09 09:24] #41 closed

[2020-04-16 16:06] andylim0221 opened #47 "Hexadecimal is converted into number in action parameter"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

We have an action with the following parameter setup:

[code]

We pass a hexadecimal string, eg. '0xab706...' into the params, the hexadecimal string is being

[2020-06-15 14:10] AndreMaz opened #48 "Dropping Vorpal and Migrating to Shargs"
@Yord yesterday [I've started to play](https://github.com/AndreMaz/moleculer-repl/tree/shargs) with `shargs-repl`. I've managed to implement some basic commands (e.g., `cls`, `exit`, etc.) but I need some guidance on the [`call`](https://github.com/AndreMaz/moleculer-repl/blob/shargs/src/commands/shargs/call.js) command. If possible, I want `args` to have the same structure as vorpal's `args`

Her

[2020-06-15 15:10] Yord commented on #48
@AndreMaz Off the top of my head:

+   The `options` group can be realized using a custom field.
+   The `rawCommand` can be realized by wrapping the parser(Sync) function.
+   Interpreting unknown options is added to the parser by the [bestGuessOpts](https://github.com/Yord/shargs#bestGuessOpts) or [bestGuessArgs](https://github.com/Yord/shargs#bestGuessArgs) stages.

I will be able to look into

[2020-06-15 15:44] AndreMaz commented on #48
Sweet :smile: Thanks for your help.
You can clone my [repo](https://github.com/AndreMaz/moleculer-repl/tree/shargs) and run `node dev/new-repl.js` to tests things.

In `dev/new-repl.js` you can switch between vorpal repl and shargs.
[code]
Vorpal's commands are located in `commands/vorpal` and their shargs equivalents are in  `commands/shargs`

Once the `call` command is implemented it will be eas

[2020-06-15 19:47] Yord commented on #48
Nice, got it running without problems ;).

I am working on it now and will send another update in a few hours!

[2020-06-15 21:48] Yord commented on #48
Ok, so I am halfway there:

---

1. Call with --load option.

### Command

[code]

### vorpal args

[code]

### shargs args

[code]

---

2. call with JSON string

### Command

[code]

### vorpal args

[code]

### shargs args

[code]

---

I had no time yet to work out 3, but I have an idea how to make it work.

You can find the changes in two commits in [my fork](https://github.com/Yord/moleculer

[2020-06-16 07:02] AndreMaz commented on #48
Awesome :+1: you rock

[2020-06-16 17:13] Yord commented on #48
Ok, I was able to get all three examples working:

---

1. Call with --load option.

### Command

[code]

### vorpal args

[code]

### shargs args

[code]

---

2. call with JSON string

### Command

[code]

### vorpal args

[code]

### shargs args

[code]

---

3. Call with random params

### Command

[code]

### vorpal args

[code]

### shargs args

[code]

---

I have added three new commits to

[2020-06-16 19:01] AndreMaz commented on #48
Thank you for your work 👍  I'm going to try to port the remaining commands just to see if everything works. But I agree, some unit tests will be necessary to iron out any bugs.

[2020-06-16 19:03] icebob commented on #48
@AndreMaz @Yord please test the arrays as well:
[code]

[2020-06-16 19:20] AndreMaz commented on #48
@icebob nice catch. At this moment shargs can't handle this case

[code]
**shargs**
[code]

@Yord regarding autocomplete, is there a way of adding a custom function to do autocomplete over the required param?
To give you and idea, this is how vorpal autocomplete looks:

[code]
![A7fH1YD5ec](https://user-images.githubusercontent.com/9802754/84817994-b4a50b00-b00d-11ea-9760-ef8cf308ba7e.gif)

and th

[2020-06-16 20:57] Yord commented on #48
@icebob That one is an easy fix, I have added [`arrayOnRepeat`](https://github.com/Yord/shargs#arrayOnRepeat) from shargs-parser in the following commit to make it work:
+    [ee942cc](https://github.com/Yord/moleculer-repl/commit/ee942cc5ed1c7153aee079f055a8e3796fa7e44e)

One follow-up question, though: Adding `arrayOnRepeat` makes this behavior (repeated options are arrays) the default. Is that

[2020-06-16 20:58] Yord commented on #48
@AndreMaz I have an idea of how an autocomplete could be added without much overhead. One question, though:

Should the list returned by autocomplete be the full list of options?

Aka no other than the values in the autocomplete list are valid.

[2020-06-16 21:39] AndreMaz commented on #48
Yes, it solves the issue.

I think that showing only the values in the autocomplete list should work just fine. It avoids writing the complete `actionName` every time that we want to call a service action. If the user wants to find out the remaining options he will just ask for `help call`

Another question, currently when a command is called without the required param it shows the following info:

[2020-06-17 07:05] Yord commented on #48
I connected the broker action list in commit [83d0bb4](https://github.com/Yord/moleculer-repl/commit/83d0bb48f99519d0fe1cd7b076e7c45d9ee2dcd3). The actions are now included in the autocompletion list:

![render1592376806423](https://user-images.githubusercontent.com/721705/84865834-2bc3b900-b079-11ea-9a32-a02ff0eba513.gif)

I have identified a minor bug in `shargs-repl` in the process that prevent

[2020-06-17 07:14] Yord commented on #48
First regarding required fields. I have added the `requiredOpts` parser stage in [84d5ad9](https://github.com/Yord/moleculer-repl/commit/84d5ad92e1a767d354bebfba81e0b9898ac716c9) and now errors are thrown if a required field is missing:

[code]

Second regarding the help message. This is possible. However, I realize now I have messed up the action function signature:

[code]

The first signature i

[2020-06-17 18:26] Yord commented on #48
I have updated the action signature in [`shargs-repl` version 0.3.0](https://github.com/Yord/shargs-repl/releases/tag/0.3.0) and made some commits to my fork:

![Help Messages in Shargs-Repl](https://user-images.githubusercontent.com/721705/84934951-555ffd00-b0d8-11ea-9c21-ec6fd51a849e.gif)

+   [1ea1f97](https://github.com/Yord/moleculer-repl/commit/1ea1f97f3099c457c77072f32841cab9b98528d2):\

[2020-06-17 18:33] icebob commented on #48
@Yord awesome job!
By the way, how do you make these gifs?

[2020-06-17 19:43] Yord commented on #48
@icebob Uh that's [terminalizer](https://github.com/faressoft/terminalizer). I love it, it's super awesome! ;)

[2020-06-18 18:34] Yord commented on #48
Yes, shargs-repl can autocomplete. However, it is currently broken when positional arguments are involved... but I am working on it. It is a small fix.

You can see it in action if you type `cal` and then tab. Here no positional arguments are involved and it still works.

[2020-06-18 18:35] Yord commented on #48
Currently actions are synchronous. However, there is no good reason for them not to be asynchronous. I will have a look.

[2020-06-18 19:00] AndreMaz commented on #48
Awesome 👍

Thanks, this is the last thing that we need to implement `call` command

[2020-06-18 19:37] icebob commented on #48
Moreover, would be awesome, if it can be intelligent like in other libs. So if `done` parameter is not in the function signature but it returns a `Promise`, it handles the promise. :)

[2020-06-18 20:41] AndreMaz commented on #48
@Yord I've had a quick look at `shargs-repl` source code:
[code]

I'm assuming that `action(value, errs)` calls the shargs command, right? If so, then shouldn't this

[code]
do the trick?

[2020-06-19 18:23] Yord commented on #48
I think we need to throw some `Promise.all` in the mix, like:

[code]

PS: Sorry for being a little bit unresponsive. Life has thrown things at me that I need to resolve :). But I will be back in business early next week. And in the meantime I have some minutes to respond of course ;).

[2020-06-19 18:32] icebob commented on #48
@Yord no problem, take your time! And thanks for all your work on this project 👍

[2020-06-23 12:47] Yord commented on #48
Ok guys, I am back and reporting progress on asynchronous actions.

I have done the following things:

1.  I have updated `shargs-repl` to [`0.4.0`](https://github.com/Yord/shargs-repl/releases/tag/0.4.0):\
    In this release I have introduced a new asynchronous execution mode alongside synchronous execution.
2.  I have updated [my `molecular-repl` branch](https://github.com/Yord/moleculer-repl)

[2020-06-23 12:48] Yord commented on #48
Next up is including positional arguments in autocomplete. :)

[2020-06-24 11:45] AndreMaz commented on #48
@Yord great work :+1:  Thank you for your help. Async works very nice

Two more questions:
1. Isn't the `bestGuess` in (`variadicPos('customOptions', {bestGuess: true}),`) supposed to cast the params? Currently all params are strings.
[code]

2. I've noticed that `help` (not the `call --help`) command isn't working. Do you know what's happening?

[2020-06-24 13:50] Yord commented on #48
Actually it was supposed to only output strings. But casting those strings is straight forward:

+   [063e364](https://github.com/Yord/moleculer-repl/commit/063e364d5adaa0ec78f7813aefd3c931ef8063c8):\
    I have added the [`bestGuessCast`](https://github.com/Yord/shargs/tree/develop#bestGuessCast) args stage to the parser.

[2020-06-24 13:58] Yord commented on #48
The issue was a change in API that was not applied to `help`:

The action is now responsible for printing the results. In the case of help, it was still returning a string. I have fixed the issue in [f965228](https://github.com/Yord/moleculer-repl/commit/f9652280890da410d269a038d1f9e2279ea99acb).

I assume the same goes for the other commands: Instead of returning a string, said string must be pri

[2020-07-04 18:22] AndreMaz commented on #48
@icebob can do a quick test of new REPL? You can install it with `npm i -s  https://github.com/AndreMaz/moleculer-repl#shargs`

I think that the only thing that's missing is the autocomplete for positional arguments.

[2020-07-06 06:51] Yord commented on #48
I will be working on this today btw. and will report on my progress soon.

[2020-07-06 09:39] icebob commented on #48
@AndreMaz great. I will check it next days.
@Yord thanks in advance!

[2020-07-06 10:12] Yord commented on #48
Ok, so the autocomplete should now work as expected. I have changed the following things:

+   [`shargs-parser` `0.6.1`](https://github.com/Yord/shargs-parser/releases/tag/0.6.1):\
    I have changed `restrictToOnly`'s behavior: It does not remove incomplete values and only reports errors.
+   [`shargs-repl` `0.5.0`](https://github.com/Yord/shargs-repl/releases/tag/0.5.0):\
    This release brings

[2020-07-06 11:33] AndreMaz commented on #48
@Yord tested over here and autocomplete is working nice :+1:

[2020-07-06 18:37] icebob commented on #48
I've checked and I found these issues:

1. `=` between key & value is not working:
![image](https://user-images.githubusercontent.com/306521/86625898-2ac1df80-bfc6-11ea-9c76-8a32641847b2.png)

2. Another that if I write a wrong command it says nothing.
![image](https://user-images.githubusercontent.com/306521/86626302-cb180400-bfc6-11ea-8f2e-509668563ee6.png)

3. Using shorthand meta keys not work

[2020-07-07 07:09] Yord commented on #48
@icebob nice findings :). I look at the issues one by one:

1\. [3706b53](https://github.com/Yord/moleculer-repl/commit/3706b5371654345986db477efeea1c506fe7b381):\
I have imported the `equalsSignAsSpace` stage and added it to the shargs parser. Options are now split at an equals sign.

**That means, however, that no '=' can be used in option values any longer (like --name "E=mc2").** The reason is

[2020-07-07 08:41] Yord commented on #48
2\. I have fixed this by adding a default action to `shargs-repl` that is called if no command is found:
+   [`shargs-repl` `0.6.1`](https://github.com/Yord/shargs-repl/releases/tag/0.6.1) and [`shargs-repl` `0.6.2`](https://github.com/Yord/shargs-repl/releases/tag/0.6.2):\
    Add the default action field to `repl` options.
+   [8124dbf](https://github.com/Yord/moleculer-repl/commit/8124dbfbe13fe

[2020-07-07 08:59] Yord commented on #48
5\. I have improved the error message in [b037258](https://github.com/Yord/moleculer-repl/commit/b037258ba18ab7c20e1b27113b3b52176adbbd21):

[code]

[code]

[2020-07-07 09:05] icebob commented on #48
Great, thanks!

[2020-07-07 15:59] AndreMaz commented on #48
Thanks for the quick fixes @Yord :wink:

I'll have a look at it.

Ups, I forgot to implement this one.

@icebob vorpal's autocomplete acts as a suggestion, i.e., you are still able to make a `call some.thing` even if the `same.thing` is not a valid action. Shags, on the other hand, is strict. It only allows to `call` actions that are present in the `broker.registry`.  Which approach do you prefer?

[2020-07-07 16:18] icebob commented on #48
5. Good question. I can imagine situation when you call something which does not exist. E.g. in case of using [inter-namespace](https://gist.github.com/icebob/c0bce54436379d29c1bee8521ceb5348) middleware. In this case, you call `greeter.hello@ns-venus` action which doesn't exist, but the middleware will change it.

[2020-07-07 16:22] AndreMaz commented on #48
Thanks for the input :+1:
@Yord is it possible to make autocomplete more "relaxed"?

[2020-07-07 17:24] Yord commented on #48
@AndreMaz yes, that is possible. I suggest just dropping the error message. This way we get the "pros" (autocomplete) without the "cons" (error message if an invalid value is used).

[2020-07-09 10:34] Yord commented on #48
**Note:** I have relaxed autocomplete in two different ways. First I chose a path that turned out to be suboptimal, later. But at that point, it was already pushed to my fork, so I decided to not rewrite history, but leave it be:

1.  [e98990a](https://github.com/Yord/moleculer-repl/commit/e98990a8d967ec7395106c2ed826b4d5fda4f23d):\
    I factored out a `rephraseErrMessages` stage from `adjustErrM

[2020-07-11 14:44] Yord commented on #48
I have added more functionality and fixed some bugs in `shargs-repl`. The fixes should not affect `molecular-repl`, but I would just in case bump the `shargs-repl` version to `0.7.0`.

+   [`shargs-repl` `0.6.3`](https://github.com/Yord/shargs-repl/releases/tag/0.6.3):\
    Added autocompletion for options with only fields.
+   [`shargs-repl` `0.6.4`](https://github.com/Yord/shargs-repl/releases/t

[2020-07-11 14:51] AndreMaz commented on #48
Thanks :+1: I'm working on `moleculer-repl` right now and so far didn't encounter any errors. But yeah, I'm definitely going to update

[2020-08-30 18:04] icebob commented on #48
@AndreMaz I've checked again the new repl.
1. The prefix is `mol$~$` It's by design? In vorpal it's `mol $`
2. Executing `actions`, I've got this:
    ![image](https://user-images.githubusercontent.com/306521/91666266-aa1dec00-eafb-11ea-9924-66be6e5ca4df.png)

Could you check it?

[2020-08-30 21:01] Yord commented on #48
@icebob I can help with the first issue:

A custom prompt can be set in `repl`'s options as follows:

[code]

[2020-09-03 10:28] AndreMaz commented on #48
@icebob thanks for testing and @Yord thanks for the fix.
The `actions` command should be working now.

@Yord there an issue with the autocomplete. It doesn't like white spaces and gives wrong suggestions
![JxpwAqkXA7](https://user-images.githubusercontent.com/9802754/92103698-379d5c80-edd8-11ea-9747-171fb53e0038.gif)

[2020-09-04 17:43] Yord commented on #48
I have published [shargs-repl 0.7.1](https://github.com/Yord/shargs-repl/releases/tag/0.7.1) that resolves the autocomplete issue.

[2020-09-04 18:32] AndreMaz commented on #48
@Yord thanks for the quick fix. @icebob try again please

[2020-09-09 19:02] icebob commented on #48
Thanks @AndreMaz & @Yord

My new observations, sorry :)
1. Something strange with long help lines:
  ![image](https://user-images.githubusercontent.com/306521/92640533-b8c78880-f2dd-11ea-9c3f-75f52866d3cc.png)
2. Please put an extra trailing space after `mol $`
3. If autocomplete put action name and press TAB again, it lists all actions & commands:
  ![TaMaS04Sup](https://user-images.githubusercon

[2020-09-11 17:20] Yord commented on #48
The first problem can be fixed by adjusting the `style` width in [`help.js`](https://github.com/AndreMaz/moleculer-repl/blob/shargs/src/usage/help.js):

For example by using `25` (instead of `20`) for the first column and `51` (instead of `56`) for the second:

[code]

Shargs has no function to automatically adjust these values, however, it could be written quite easily by looking at the opts and

[2020-09-11 17:21] Yord commented on #48
The third problem appears to be in the way Shargs resolves positional arguments in the autocomplete function. Nice catch! I will look into it.

[2020-09-11 17:23] Yord commented on #48
This one I don't understand :). Can you please elaborate @icebob?

[2020-09-12 10:51] Yord commented on #48
I have had some time to look at the help lines and wrote a function that determines the column width dynamically:

+   [263af97](https://github.com/Yord/moleculer-repl/commit/263af97c3b80efd91b91cb4c53b1009a383bebc5):\
    This commit automatically computes the style for a command's usage help.
    It takes all arguments from all command options and builds their description strings (the left part

[2020-09-13 07:37] icebob commented on #48
Good job Yord!

The `dcall` command has two main arguments, the nodeID and the action name. Like `dcall node-1 greeter.hello --name Bob`
I'm wondering we can add autocomplete for both nodeID and action name as well.

[2020-09-15 11:37] AndreMaz commented on #48
Sorry for the delay. I've merged @Yord's commit that solves the issues with the "help" function. I've also added a trailing space after `mol $`.

Regarding the `dcall` I've added the following:
[code]
so now it will autocomplete the nodeID. However, there seems to be an issue with 2 autocompletes in the same command because the following
[code]
doesn't have any effect.

[2020-09-16 20:15] Yord commented on #48
I am currently working on autocomplete for the node id. It is a little more involved than I originally thought but is definitely doable. I will have more time on the WE to tackle the problem :).

[2020-09-26 10:08] AndreMaz commented on #48
Hey @Yord did you have a chance to work on this?

[2020-09-26 12:17] Yord commented on #48
@AndreMaz Yeah I am halfway there and hope to finish soon (maybe even tomorrow). Sorry for being a little intransparent :sweat_smile:.

[2020-09-27 10:30] Yord commented on #48
Ok so I decided to publish my first fix now (for 5), while I continue working on a possible improvement that surfaced while I was analyzing 5.

1. [`shargs-repl` `0.7.2`](https://github.com/Yord/shargs-repl/releases/tag/0.7.2):\
    Swap the position of only and descArg fields during autocomplete: Now, if both fields are present, only fields are preferred.
2. [da747bd](https://github.com/Yord/mole

[2020-09-27 10:54] Yord commented on #48
And in the same spirit, here is the fix for 3:

1.  [`shargs-repl` `0.7.3`](https://github.com/Yord/shargs-repl/releases/tag/0.7.3):\
    Fix a bug where autocomplete would make too many suggestions if the last argument was a positional argument.
2.  [ebb2f24](https://github.com/Yord/moleculer-repl/commit/ebb2f24bfe535aa7921a6e4a78c1e2da0f3abfb0):\
    Bump shargs-repl to 0.7.3 to fix an issue whe

[2020-09-27 10:58] AndreMaz commented on #48
Thanks @Yord 👍 @icebob test again please

[2020-09-27 11:03] Yord commented on #48
While working on the fixes I have identified a small problem with corner cases in the `shargs-repl` autocomplete function:

If a command had more than two positional arguments with `only` values and the first argument already has values supplied, autocomplete would nonetheless still suggest values for the first positional argument.

The problem here is, that I initially designed autocomplete to on

[2020-10-24 16:36] AndreMaz commented on #48
Hey @Yord did you have a chance to work on this?

[2020-10-25 15:51] Yord commented on #48
Hi @AndreMaz, unfortunately, other things came up and I could not have a closer look at this issue. But it is definitely on the list and I will approach it soonish ;). From the tests I have already conducted, I can say, that this issue will most probably be just a bug fix and should not break any function signatures.

That said, your question suggests this issue is important to you, so I will try

[2020-10-25 19:59] AndreMaz commented on #48
Hey @Yord no rush, do your things first 😉  I was just looking at my ToDo list and remembered about this issue.

[2021-01-03 15:38] Yord commented on #48
Happy new year guys! I solved the issue where the autocomplete function returned too many suggestions:

1. [`shargs-repl` `0.7.4`](https://github.com/Yord/shargs-repl/releases/tag/0.7.4):\
    Fix a case where the autocompletion suggested all positional arguments instead of only the next unused one.

The only thing you need to do is to bump `shargs-repl` to `0.7.4`.

[2021-01-03 15:46] Yord commented on #48
Btw, some things have happened in shargs as I am approaching version `1.0.0`, most notably in version [`0.26.0`](https://github.com/Yord/shargs/releases/tag/0.26.0). While the API has remained stable and the code should continue working as is, the underlying structure of the `shargs` module has changed:

`shargs` now depends on `shargs-usage`, `shargs-opts` and `shargs-parser`. This means the latt

[2021-01-04 14:08] icebob commented on #48
Awesome @Yord, Happy New Year!
@AndreMaz when you have time, could you please upgrade your fork?

[2021-01-04 17:58] AndreMaz commented on #48
Hey @Yord happy new year and thanks for your work 😄

I've updated the packages but there's a slight issue with `lexerSync` function.

It's being imported in  [`/parser/index.js`](https://github.com/AndreMaz/moleculer-repl/blob/shargs/src/parser/index.js)

[code]

and then used in [`shargs-repl.js`](https://github.com/AndreMaz/moleculer-repl/blob/49a5de82af444f305588f033132c9703189aa56d/src/shargs-

[2021-01-04 20:01] Yord commented on #48
Oh, I forgot to mention that 😅. But you were spot on!

This is rather odd, it worked on my moleculer-repl copy when I tried it. But I am confident the error can be resolved. I will have a look at it tomorrow after work!

[2021-05-05 04:29] ujwal-setlur commented on #41
What if the ``meta`` object is more complicated than a simple key/value pair? In my services, I pass in an authentication object which is relatively nested in ``meta``. Would love to define it in the ``params`` file. It would be nice if the file could just have this structure:

[code]

[2021-07-27 15:43] SimonHausdorf opened #54 "Parameters not passed as string"
[code]

however, when passing as json it works.
[code]

[2021-07-28 22:38] AndreMaz commented on #54
Hi @SimonHausdorf  thanks for reporting the issue. It's related to the https://github.com/moleculerjs/moleculer-repl/issues/47

The issue is caused by [vorpal](https://github.com/dthree/vorpal), a dependency lib that we're using, and unfortunately it's no longer maintained. We are aware of vorpal's limitations and we're (slowly :sweat_smile:) migrating to another lib https://github.com/moleculerjs

[2021-12-15 05:28] intech opened #55 "feat: add options for `call`, `emit`, `broadcast`"
Provide the ability to transfer not only `meta` but also other call options

[2021-12-29 16:21] shawnmcknight opened #56 "CVE advisory on dependencies"
[code]

Looks like some dependencies in `@moleculerjs/vorpal` are causing the issues.

[2022-01-07 15:27] #48 closed

[2022-01-07 15:27] #54 closed

[2022-01-07 15:27] #56 closed

[2022-01-07 15:27] #12 closed

[2022-01-07 15:27] #47 closed

[2022-01-07 15:27] #55 closed

[2022-01-07 15:47] AndreMaz commented on #55
Now you can use `$` to pass opts. For example:
[code]

[2022-01-07 15:50] AndreMaz commented on #12
Use `listener add` to subscribe to events
[code]

`listener remove <event.name>` to unsubscribe and `listener list` to show events that REPL is listening to.

[2022-01-08 17:17] #22 closed

[2022-01-12 05:42] bbmarkus opened #60 "REPL cache commands/configuration not working"
I have a configuration file that specifies an in memory cacher (tried both cacher true and with options), yet the service broker never has any cacher active.

`info` shows that the config loaded is correct, i.e. cacher is true, but it also shows in the broker section that cacher is none, what am I missing here? Obviously the cache commands then complain about there being no cacher.

[code]

[2022-01-12 07:24] AndreMaz commented on #60
Hi @bbmarkus can you create a repro repo please?

[2022-01-12 09:26] icebob commented on #60
It looks like your moleculer.config.js is wrong. There is no "default" property in the config file.

[2022-01-12 11:26] bbmarkus commented on #60
@icebob the config is passed through typescript, so the default is probably because of that, and it does work for the actual node running the microservices just fine the config gets picked up correctly there 🤔

[2022-01-12 11:48] bbmarkus commented on #60
In case someone bumps into similar issue, the fix was simply changing `export default brokerConfig;` to `export = brokerConfig;` in the typescript file.

I guess the config was never working to begin with, although we certainly never noticed this before 🤦.

[2022-01-12 16:16] bbmarkus commented on #60
Turns out moleculer-runner has support for export default in typescript files, so made a patch to make the file loading behaviour same between the two components @icebob

[2022-01-25 20:47] AndreMaz commented on #41
@ujwal-setlur Added in https://github.com/moleculerjs/moleculer-repl/pull/61

[2022-07-27 09:19] icex opened #63 "Feature request - command history"
Hi,

We've been using moleculer for some time and we would to have a way to persist the command history (arrow up in repl) after a service restart.

[2022-07-27 20:47] AndreMaz commented on #63
Awesome suggestion @icex 👍  https://github.com/moleculerjs/moleculer-repl/pull/64 should add a `.moleculer_repl_history` to homedir. I've tested on Win10 and things seem to be working. Tomorrow will test on Linux.

Can you please install it from the `feature/repl_history` and also do a quick test?

[2022-07-27 22:46] icex commented on #63
Works fine on Mac OS(file in homedir ~/.moleculer_repl_history), should be fine on Linux as well..

[2022-07-28 18:39] #63 closed

[2022-09-28 16:49] ccampanale opened #65 "Feature: `dcall` local node"
**Description:**
Frequently, rather than roll out entirely new service versions, I and my team tend to address bugs or *certain changes* in existing services which are subsequently built and deployed. When developing locally, we have the ability to connect into a pre-production running system (with all of our microservices running) to run our modified services locally. To test changes, for example

[2022-09-29 19:47] AndreMaz commented on #65
Hi @ccampanale

What's the REPL version that you're using?

Can you please clarify how do you enter into REPL mode? Do you start (e.g., `npm run dev`) a ServiceBroker instance, with the services that you're working on, with REPL mode enabled? Or do you connect to the entire system via CLI (e.g., `moleculer connect`)?

[2022-09-29 19:54] ccampanale commented on #65
Hey @AndreMaz

We are currently on `moleculer-repl@0.7.0`.

We have a highly customized startup process but it works a lot like the Moleculer runner; ultimately, if the right flags are set, etc. `broker.repl();` is called in much the same way.

I'm mostly just curious if this is something you would be interested in as a feature of the `dcall` command and if you have any preferences on approach. I

[2022-09-29 20:03] ccampanale commented on #65
Sorry, to better answer your questions:

- Sometimes REPL is entered manually without any local services (other than the defaults) are running. This is often to connect to the system for one purpose or another and is very similar to `moleculer connect` in both form and function (just with some extra bells and whistle for our system).
- At other times - and the situation in which this feature would

[2022-09-29 20:21] AndreMaz commented on #65
Sorry, I’m a bit tired (and slow) at the moment.

What if you set the `preferLocal` to `true` in registry opts of the ServiceBroker that contains local services and runs your REPL instance? With this option the `call` command should call local actions (the ones that you want to trigger).

Again, sorry if I misunderstand your scenario.

[2022-09-29 21:10] ccampanale commented on #65
No worries - this is not urgent so pleas take your time.

That's a great point and could certainly be done of the fly if needed.

I could always leverage `preferLocal` with something custom too if need be. I was originally going to shoe-horn the feature in via our custom work (possibly a custom REPL command, of which we have a few already) but figured I'd touch base with the maintainers first.

Th

[2022-10-01 15:25] icebob commented on #65
I think in `dcall` the `nodeID` can't be optional because `actioName` is followed which is required. So I think the `--local` option can be good. Could you create a PR?

[2022-10-03 14:14] ccampanale commented on #65
@icebob

I agree - I think the complexity in trying to support `nodeID` as an optional argument is reason enough to avoid that path.

That being said, it sounds like adding `--local` to `call` might make more sense than adding to `dcall` as `--local` would be confusing while still needing to provide something for `nodeID`.

I can create a PR and send it over as soon as I get a chance to write it u

[2022-10-03 17:19] icebob commented on #65
I agree, thanks!

[2022-10-06 19:45] AndreMaz commented on #65
Fixed https://github.com/moleculerjs/moleculer-repl/pull/66

[2022-10-06 19:45] #65 closed